{% extends 'layout_farmer.html' %}

{% block body %}
<!---->
<div class="pimg5">
  <div class="container" style="
  padding-top: 550px;
  margin-top: 0px;
  border-top-width: 400px;
  margin-left: 0px;
  margin-bottom: 30px;
  ">
</div>
</div>

<div class="button button-3" style="
margin-top: 0px;
margin-bottom: 100px;
position: absolute;
margin-left: 100px;
">
<a href="/farmerApplication">REGISTER AS A FARMER</a>
</div>

<div class="button button-4" style="
margin-left: 900px;
margin-bottom: 100px;
">
<a href="/farmerLogin">LOGIN AS A FARMER</a>
</div>

<div class="content-top ">
  <div class="container ">
    <div class="spec " id="upload">
      <h3>UPLOAD YOUR PRODUCTS</h3>
      <div class="ser-t">
        <b class="line"></b>
      </div>
    </div>
  </div>
</div>

<div class="pimg6" style="
margin-top:0px;
margin-bottom: 30px;
">

</div>

<div class="button button-4" style="
margin-left: 600px;
margin-bottom: 100px;
margin-top: 30px;
">
<a href="/upload">UPLOAD PRODUCTS</a>
</div>
<div class="content-top ">
  <div class="container ">
    <div class="spec " id="monitor">
      <h3>MONITOR YOUR TRANSACTIONS</h3>
      <div class="ser-t">
        <span><i></i></span>
        <b class="line"></b>
      </div>
    </div>
  </div>
</div>

<div class="pimg7" style="margin-bottom: 30px;"></div>

<div class="button button-4" style="margin-left: 600px;
margin-bottom: 100px;
margin-top: 30px;
">
<a href="monitor.html">MONITOR TRANSACTIONS</a>
</div>

<div class="content-top ">
  <div class="container ">

    <div class="spec "id="about">
      <h3>ABOUT</h3>
      <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
      </div>
    </div>
  </div>
</div>

<p class="lead3 divcenter23 bottommargin23" style="max-width: 1000px;">
  Making selling and management of products more easier, Farmers can now upload their foodstuffs online
</p>
<p class="lead3 divcenter23 bottommargin23" style="max-width: 1000px;padding-bottom: 400px;">
  Agriculture is our wisest pursuit, because it will in the end contribute most to real wealth, good morals, and happiness.
</p>

{% endblock %}
