{% extends 'layout.html' %}

{% block body %}
<!-- Carousel-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a><img class="first-slide" src="{{ url_for('static', filename='images/legumesbanner.jpg')}}" alt="First slide"></a>
    </div>
    <div class="item">
      <a> <img class="second-slide " src="{{ url_for('static', filename='images/legumesbanner1.jpg')}}" alt="Second slide"></a>
    </div>
    <div class="item">
      <a><img class="third-slide " src="{{ url_for('static', filename='images/legumesbanner2.jpg')}}" alt="Third slide"></a>
    </div>
  </div>
</div> <!-- /.carousel -->

<!--content-->
<div class="kic-top ">
  <div class="container ">
    <div class="kic ">
      <h3>Popular Categories</h3>
    </div>
    <div class="col-md-4 kic-top1">
      <a href="#Legumes">
        <img src="{{ url_for('static', filename='images/legumes.jpg')}}" class="img-responsive" alt="">
      </a>
      <h6>Legumes</h6>
      <p></p>
    </div>
    <div class="col-md-4 kic-top1">
      <a href="#Cereals">
        <img src="{{ url_for('static', filename='images/cereals.jpg')}}" class="img-responsive" alt="">
      </a>
      <h6>Cereals and Grains</h6>
      <p></p>
    </div>
  </div>
    <!--content-->
  <div class="product">
    <div class="container">
      <a id="Legumes"></a>
      <div class="spec ">
        <h3>Legumes</h3>
        <div class="ser-t">
          <b></b>
          <span><i></i></span>
          <b class="line"></b>
        </div>
      </div>
      <div class=" con-w3l agileinf">
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal2" class="offer-img">
              <img src="images/alfalfa.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Alfalfa</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵5.00</label><em class="item_price">GH₵4.50</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="25" data-name="Peach Halves" data-summary="summary 25" data-price="4.50" data-quantity="1" data-image="images/of25.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal3" class="offer-img">
              <img src="images/clover.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Clover</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵4.00</label><em class="item_price">GH₵3.50</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="26" data-name="Banana" data-summary="summary 26" data-price="3.50" data-quantity="1" data-image="images/of26.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal4" class="offer-img">
              <img src="images/peas.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Peas</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵1.00</label><em class="item_price">GH₵0.80</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="27" data-name="Rice" data-summary="summary 27" data-price="0.80" data-quantity="1" data-image="images/of27.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal5" class="offer-img">
              <img src="images/chickpeas.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Chickpeas</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵7.00</label><em class="item_price">GH₵6.00</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="28" data-name="Oil" data-summary="summary 28" data-price="6.00" data-quantity="1" data-image="images/of28.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal6" class="offer-img">
              <img src="images/lentils.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Lentils</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵5.00</label><em class="item_price">GH₵4.50</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="29" data-name="Biscuits" data-summary="summary 29" data-price="4.50" data-quantity="1" data-image="images/of29.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal7" class="offer-img">
              <img src="images/lupin.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Lupin Bean</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵4.00</label><em class="item_price">GH₵3.50</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="30" data-name="Nuts" data-summary="summary 30" data-price="3.50" data-quantity="1" data-image="images/of30.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal8" class="offer-img">
              <img src="images/soy.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Soybeans</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵1.00</label><em class="item_price">GH₵0.80</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="31" data-name="Rice" data-summary="summary 31" data-price="0.80" data-quantity="1" data-image="images/of31.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal9" class="offer-img">
              <img src="images/peanuts.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Peanuts</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵7.00</label><em class="item_price">GH₵6.00</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="32" data-name="Noodles" data-summary="summary 32" data-price="6.00" data-quantity="1" data-image="images/of32.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal10" class="offer-img">
              <img src="images/carob.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Carob</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵5.00</label><em class="item_price">GH₵4.50</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="33" data-name="Tea" data-summary="summary 33" data-price="4.50" data-quantity="1" data-image="images/of33.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal11" class="offer-img">
              <img src="images/tamarind.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Tamarind</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵1.00</label><em class="item_price">GH₵0.80</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="34" data-name="Seafood" data-summary="summary 34" data-price="3.50" data-quantity="1" data-image="images/of34.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>


  <div class="product">
    <div class="container">
      <a id="Cereals"></a>
      <div class="spec ">
        <h3>Cereals and Grains</h3>
        <div class="ser-t">
          <b></b>
          <span><i></i></span>
          <b class="line"></b>
        </div>
      </div>
      <div class=" con-w3l agileinf">
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
              <img src="images/corn.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Corn</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵7.00</label><em class="item_price">GH₵6.00</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="24" data-name="Wheat" data-summary="summary 24" data-price="6.00" data-quantity="1" data-image="images/of24.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal2" class="offer-img">
              <img src="images/oat.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Oat</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵5.00</label><em class="item_price">GH₵4.50</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="25" data-name="Peach Halves" data-summary="summary 25" data-price="4.50" data-quantity="1" data-image="images/of25.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal3" class="offer-img">
              <img src="images/rice.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Rice</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵4.00</label><em class="item_price">GH₵3.50</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="26" data-name="Banana" data-summary="summary 26" data-price="3.50" data-quantity="1" data-image="images/of26.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal4" class="offer-img">
              <img src="images/spelt.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Spelt</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵1.00</label><em class="item_price">GH₵0.80</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="27" data-name="Rice" data-summary="summary 27" data-price="0.80" data-quantity="1" data-image="images/of27.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal5" class="offer-img">
              <img src="images/wheat.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Wheat</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵7.00</label><em class="item_price">GH₵6.00</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="28" data-name="Oil" data-summary="summary 28" data-price="6.00" data-quantity="1" data-image="images/of28.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal6" class="offer-img">
              <img src="images/millet.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Millet</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵5.00</label><em class="item_price">GH₵4.50</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="29" data-name="Biscuits" data-summary="summary 29" data-price="4.50" data-quantity="1" data-image="images/of29.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal7" class="offer-img">
              <img src="images/rye.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Rye</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵4.00</label><em class="item_price">GH₵3.50</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="30" data-name="Nuts" data-summary="summary 30" data-price="3.50" data-quantity="1" data-image="images/of30.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal8" class="offer-img">
              <img src="images/barley.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Barley</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵1.00</label><em class="item_price">GH₵0.80</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="31" data-name="Rice" data-summary="summary 31" data-price="0.80" data-quantity="1" data-image="images/of31.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal9" class="offer-img">
              <img src="images/buckwheat.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Buckwheat</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵7.00</label><em class="item_price">GH₵6.00</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="32" data-name="Noodles" data-summary="summary 32" data-price="6.00" data-quantity="1" data-image="images/of32.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal10" class="offer-img">
              <img src="images/maize.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Maize</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵5.00</label><em class="item_price">GH₵4.50</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="33" data-name="Tea" data-summary="summary 33" data-price="4.50" data-quantity="1" data-image="images/of33.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal11" class="offer-img">
              <img src="images/amaranthus.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Amaranthus</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵4.00</label><em class="item_price">GH₵3.50</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="34" data-name="Seafood" data-summary="summary 34" data-price="3.50" data-quantity="1" data-image="images/of34.png">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 pro-1">
          <div class="col-m">
            <a href="#" data-toggle="modal" data-target="#myModal12" class="offer-img">
              <img src="images/sorghum.jpg" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
              <div class="single">
                <h6><a href="single.html">Sorghum</a></h6>
              </div>
              <div class="mid-2">
                <p ><label>GH₵1.00</label><em class="item_price">GH₵0.80</em></p>
                <div class="block">
                  <div class="starbox small ghosting"> </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="add">
                <button class="btn btn-danger my-cart-btn my-cart-b" data-id="35" data-name="Tomatoes" data-summary="summary 35" data-price="0.80" data-quantity="1" data-image="images/tomatoes.jpg">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- product -->

  {% include 'includes/footer.html' %}
  {% endblock %}
